body{
    background-color: rgb(89, 127, 140);
}

h1{
    color: rgb(154, 26, 26);
    text-align: center;
}

h2{
    color: rgb(154, 26, 26);
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;
    text-align:justify;
    margin: 20px;
}
div{
    border-color: rgb(12, 184, 184);
    border: solid 20px;
    margin-left: 100px;
    margin-right: 120px;
    margin-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    width: 1000px
}